* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* TESTES

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    height: 100vh;
} */

button {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
color: white;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
column-gap: 20px;
padding: 15px 40px;
transition: all 0.1s ease;
cursor: pointer;
border: none;
}

button:hover {
transform: scale(1.05);
filter: brightness(0.9);
}

#imageButton {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 50px;
height: 50px;
}

.containerItens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 10px;
}

.textAreaItens{
    width: 85%;
    max-width: 700px;
    min-height: 200px;
    max-height: 400px;
    padding: 7px;
    font-size: 1rem;
    border-radius: 8px;
    resize: vertical;
}