* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #efefef;
	background: none;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
}

body {
	--white: #efefef;
	--black-background: #1a3b28;
	background: #3f6e56;
}

footer {
	margin-top: 3rem;
	background: var(--black-background);
	width: 100%;
	min-height: 200px;
	padding: 3rem;

	display: flex;
	justify-content: center;

	a:hover {
		text-decoration: underline;
	}

	.limiter {
		width: 100%;
		max-width: 1100px;
		display: flex;
		justify-content: center;
		gap: 5rem;
		flex-wrap: wrap;

		ul {
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}
}

/* header */
#headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	border-bottom: 2px solid white;
	padding: 10px 40px;
}

#headerContainer > nav {
	display: flex;
	column-gap: 100px;
}

nav > div {
	cursor: pointer;
	transition: all 0.1s ease;
}

nav > div:hover {
	transform: scale(1.1);
}

@media (max-width: 750px) {
	#headerContainer {
	  flex-direction: column;
	  row-gap: 20px;
	}
  }
  
  @media (max-width: 450px) {
	#headerContainer > nav {
	  column-gap: 85px;
	}
}
/* end header */

.containerItens {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}

.textAreaItens {
	width: 85%;
	max-width: 700px;
	min-height: 200px;
	max-height: 400px;
	padding: 7px;
	font-size: 1rem;
	border-radius: 8px;
	resize: vertical;
	border: 1px solid var(--white);
}
.textAreaItens::placeholder {
	color: var(--white);
	opacity: 0.5;
}

/* winner list */
#containerList {
	border: 2px solid var(--white);
	border-radius: 20px;
	padding: 20px 5px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
}

#imageContainer {
	width: 250px;
	height: 200px;
	background-image: url("/src/assets/winnersList/trophiesImage.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#listSection {
	width: 290px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25px;
	overflow: auto;
}

.winnerContainer {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	text-align: center;
}

.winnerPosition {
	font-size: 15px;
}
/* end winner list */

/* modal error */
#notificationErrorContainer {
	position: fixed;
	bottom: 0;
	left: 50%;
	padding: 30px 40px;
	background-color: #ff6347;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	animation: goingUp 1s forwards;
}

#notificationErrorButton {
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
	background-image: url("/src/assets/modalError/closeImage.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 21px;
	height: 21px;
}

@keyframes goingUp {
	0% {
		transform: translateX(-50%) translateY(500px);
	}

	100% {
		transform: translateX(-50%) translateY(0);
	}
}
/* end modal error */
/* Para navegadores baseados no WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Default randomizer */
#random-default {
	margin-top: 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;

	margin: 6rem 1rem 6rem;
	min-height: 500px;
	max-width: 1100px;

	background: var(--black-background);
	border-radius: 1rem;

	padding: 2rem;

	label {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	label span {
		font-size: 1.3rem;
	}
	* {
		font-size: 1rem;
	}
}

#how-many-default {
	input {
		border: 1px solid var(--white);
		border-radius: 5px;
		padding: 8px 9px;
		width: 3rem;
		font-size: 0.95rem;
	}
}

#last-winners-no {
	position: relative;
	cursor: pointer;
}

#last-winners-no input {
	display: none;
}

.checkmark {
	width: 40px;
	height: 20px;
	border-radius: 1rem;
	background-color: var(--white);
	display: inline-block;
	margin-right: 8px;
	transition: all 0.2s ease-in-out;
	position: relative;
}
#last-winners-no input:checked + .checkmark {
	background-color: #49996d;
}

.checkmark::after {
	content: "";
	position: absolute;
	left: 3px;
	top: 50%;
	transform: translate(-0, -50%);

	background: var(--black-background);
	width: 15px;
	height: 15px;
	border-radius: 100%;

	transition: all 0.2s ease-in-out;
}

#last-winners-no input:checked + .checkmark::after {
	left: calc(100% - 18px);
	background: var(--white);
}

#lreset-winners-default {
	position: relative;
}

#lreset-winners-default input {
	display: none;
}

#button-randomizer {
	border: 1px solid var(--white);
	border-radius: 0.3rem;

	height: 40px;
	width: 135px;

	position: relative;
	overflow: hidden;
	color: var(--white);
	z-index: 1;

	font-size: 0.95rem;
	transition: all 0.2s;
}

#randomizer-container {
	height: 40px;
	display: flex;
	align-items: end;
}

#button-randomizer:hover {
	height: 35px;
	animation: toggleShadow 2s infinite;
	animation-delay: 1s;
}

#button-randomizer::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0%;
	background: #49996d;

	transition: all 0.2s;

	left: 0%;
	top: 0;
	z-index: -1;
}

#button-randomizer:hover::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
}

@keyframes toggleShadow {
	0% {
		box-shadow: 0 0 0px 0 rgba(73, 153, 109, 0.8);
	}
	50% {
		box-shadow: 0 0 15px 5px rgba(73, 153, 109, 0.8);
	}
	100% {
		box-shadow: 0 0 0px 0 rgba(73, 153, 109, 0.8);
	}
}

#return-button {
	position: relative;
}

#return-button::before {
	content: "";
	width: 1px;
	height: 0.6rem;
	background: var(--white);
	position: absolute;
	top: 95%;
	left: 110%;
	transform: rotate(-45deg);
	opacity: 0;
	transition: left 0.2s;
}

#return-button::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 110%;
	width: 0%;
	height: 1px;
	background: var(--white);

	transition: all 0.2s;
}

#return-button:hover::before {
	opacity: 100%;
	left: -7px;
}

#return-button:hover::after {
	left: -10px;
	width: 120%;
}

#winners-container {
	margin: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	h3 {
		font-size: 2rem;
	}
	& > p {
		width: 120%;
		border: 1px solid var(--white);
		border-radius: .5rem;
		padding: 1rem;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 2rem;

		font-weight: 700;

		font-size: 1.3rem;
	}
}
/* End Default randomizer */