* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#notificationErrorContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 30px 40px;
  background-color: #ff6347;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  animation: goingUp 1s forwards;
}

#notificationErrorButton {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  background-image: url("/src/assets/modalError/closeImage.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 21px;
  height: 21px;
}

@keyframes goingUp {
  0% {
    transform: translateX(-50%) translateY(500px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}