* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #efefef;
  background: none;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body {
  --white: #efefef;
  --black-background: #1a3b28;
  background: #3f6e56;
}

/* FOOTER */

footer {
  background-color: var(--black-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

#sectionFooter {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 40px 0px 20px 0px;
}

#innerFooterSection {
  display: flex;
  column-gap: 60px;
}

#innerFooterSection > div {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

img[src$="alphaImage.png"], img[src$="gitHubImage.png"] {
  height: 65px;
}

#innerFooterSection > div > div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

#innerFooterSection > div > div > a:hover {
  text-decoration: underline;
}

#innerFooterSection > div > a {
  display: flex;
  justify-content: center;
}

a[href="https://www.alphaedtech.org.br/"]{
  display: flex;
  align-items: center;
}

#sectionFooter > p {
  text-align: center;
  font-size: 15px;
}

@media (max-width: 350px){
  #innerFooterSection {
    column-gap: 40px;
  }
}